---
export interface Props {
  title?: string;
  subtitleText?: string;
  subtitleLink?: string | URL;
  information?: string;
  count?: number;
}

const {
  title = await Astro.slots.render('title'),
  subtitleText = 'Read all posts',
  subtitleLink,
  information = await Astro.slots.render('information'),
} = Astro.props;
---

<section class="px-4 py-8 mx-auto max-w-7xl lg:py-12">
  <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
    <div>
      {
        title && (
          <h2
            class="text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading mb-2"
            set:html={title}
          />
        )
      }
      {
        subtitleText && subtitleLink && (
          <a
            class="text-muted dark:text-slate-400 hover:text-primary transition ease-in duration-200 block mb-6 lg:mb-0"
            href={subtitleLink}
          >
            {subtitleText} »
          </a>
        )
      }
    </div>

    {information && <p class="text-muted dark:text-slate-400 lg:text-sm lg:max-w-md" set:html={information} />}
  </div>

  <slot />
</section>
