---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import LatestPosts from '~/components/blog/LatestPosts.astro';
import Hero from '~/components/widgets/Hero.astro';
import { getBlogPermalink } from '~/utils/permalinks';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction={{
      text: 'Watch me on YouTube',
      href: 'https://www.youtube.com/@DevLeonardo',
      icon: 'tabler:brand-youtube',
    }}
    callToAction2={{ text: 'Read my blog', href: getBlogPermalink() }}
    {/*image={{ src: import('~/assets/images/hero.png'), alt: 'Hero Image' }}*/}
  >
    <Fragment slot="title">
      Hello!
      <span class="text-accent dark:text-white highlight">Leonardo</span> here :)
    </Fragment>

    <Fragment slot="subtitle">
      Passionate Frontend Developer always looking for new challenges.<br />
      I contribute to Open Source projects, write technical articles and publish videos on YouTube to share what I learn.
    </Fragment>
  </Hero>

  <LatestPosts
    title="Read my top articles"
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />
</Layout>
